/* CSS files add styling rules to your content */

html, body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  background-image: linear-gradient(black, #333333);
  padding: 0 10% 0 10%;
  height: 100%;
}

h1 {
  font-style: italic;
  color: white;
}

p {
  color: white;
}

header {
  background-color: black;
  color: white;
  padding: 0px;
}

.botonheader{
  float: right;
  color: white;
  margin: 0 0 0 5px;
  text-decoration: none;
  background-color: #333333;
  padding: 5px;
  border-radius: 5px 5px 0 0;
  transition: 0.3s;
}
.botonheader:hover {
  padding-right: 10px;
  padding-left: 10px;
}
.paginacont{
  background-color: #333333; 
  height: 100%;
  overflow: hidden;
}

.contenido{
  padding-left: 10px;
}