html, body
{
    font-family: helvetica, arial, sans-serif;
    width:  100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

canvas
{
    display:block;
    position: absolute;
    top: 0;
    left: 0;
}

.configcaja
{
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid black;
    background-color: #00000077;
    padding: 5px;
    margin: 5px;
    transition: 0.3s;
    opacity: 0.1;
    z-index: 999;
}

.configcaja:hover
{
    opacity: 1;
}

.configcaja label
{
    color: white;
}

.configcaja input
{
    border-radius: 5px;
}

.configcaja button
{
    border-radius: 5px;
}